body{
    font-family: 'FuturaPT1', sans-serif;
    background-color: #FFFFFF;
    color: #434B53;
}

*{
    font-style: normal;
    text-decoration: none;
    list-style-type: none;
    font-family: 'FuturaPT1', sans-serif;
    line-height: 125%;
    letter-spacing: 0.03em;
}
.container{
    min-width: 320px;
    padding: 0 20px;
    margin: 0 auto;
}
.visually-hidden { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden; }

@font-face {
	font-family: FuturaPT2;
    src: url(../fonts/futura_pt_bold.ttf);
}

@font-face {
	font-family: FuturaPT1;
    src: url(../fonts/futura_pt_book.ttf);
}

@font-face {
	font-family: FuturaPT3;
    src: url(../fonts/futura_pt_cond_extra_bold.ttf);
}