.buttom-box{
    text-align: center;
}

.title-buttom{
    margin-top: 60px;
    margin-bottom: 60px;
}

@media (min-width: 1200px){
    .buttom-box p{
        text-align: center;
        font-size: 20px;
    }
    .container-buttom{
        max-width: 1440px;
    }
}